body {
  font-family: sans-serif;
  color: #025;
  margin: 0 auto;
  max-width: 50em;
  padding: 2em 0;
}

.main {
  max-width: inherit;
}

ul {
  padding-left: 1em;
}

h1 {
  padding-top: 1em;
  margin: 0;
  border-bottom: 1px solid #2176AE;
  font-weight: normal;
  color: #2176AE;
}

.overview {
  font-size: 2em;
  background-color: #f8f8f8;
  margin-bottom: 1em;
}

.overview > div {
  width: 25em;
  max-width: 50em;
  padding: 0.5em;
  margin: 0 auto;
}

.button1 {
  margin-right: 20px;
  padding: 20px 10px;
  color: #2176AE;
  border: 2px solid #2176AE;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  border-radius: 999px;
  letter-spacing: 1px;
  width: 200px;
}

.button2 {
  margin-right: 20px;
  padding: 20px 10px;
  color: white;
  font-weight: 700;
  font-size: 12px;
  background-color: #2176AE;
  border: 0;
  cursor: pointer;
  border-radius: 999px;
  letter-spacing: 1px;
  width: 200px;
}

#onlineCheckResult {
  -webkit-transition: opacity 0.5s ease-in;
   -moz-transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
     -o-transition: opacity 0.5s ease-in;
        transition: opacity 0.5s ease-in;
}

.error {
  border-left: 2px solid red;
  white-space: pre;
  padding-left: 1em;
}

.mnemonic {
  border: 1px solid black;
  font-family: monospace;
  text-align: center;
}

.create {
  padding-top: 2em;
}

.create div {
  margin-top: 1em;
  margin-bottom: 1em;
}

.create span {
  border: 1px solid #ccc;
  padding: 2px;
}
